/* ***** MOBILE ***** */
@media only screen and (max-width: 480px) {
  body {
    background-color: lightcoral;
  }

  .main-container {
    flex-direction: row;
    flex-wrap: wrap;
    width: 95%;
    margin: .5em auto ;
    box-sizing: border-box;
    display:inline-table
  }

  #section-header {
    order: 4;
    border-radius: 0px 0px 15px 0px;
  }

  #section-image {
    order: 3;
    width: 100%;
    height: 500px;
  }
  #section-copy {
    order: 1;
    width: 100%;
  }
  #section-form {
    order: 2;
    width: 100%;
  }
}

/* ***** TABLET ***** */
@media only screen and (min-width: 481px) and (max-width: 900px) {
  body {
    background-color: rgb(48, 50, 48);
  }

  .main-container {
    flex-direction: column;
    flex-wrap: wrap;
    /* width: 500px; */
    width: 90%;
    margin: 2em auto;
  }

  #section-header {
    order: 1;
  }
  #section-image {
    order: 2;
    width: 100%;
    height: 500px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  #section-copy {
    order: 3;
    width: 100%;
  }
  #section-form {
    order: 4;
    width: 100%;
  }
}

/* ***** DESKTOP ***** */
@media only screen and (min-width: 901px) {
  body {
    background-color: darkcyan;
  }

  .main-container {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2em auto;
    width: 95%;
  }

  #section-header {
    order: 1;
    display: block;
    overflow: hidden;
    width: 75%;
    height: auto;
    /* width: 20%; */
  }

  #section-image {
    order: 2;
    width: 25%;
    height: auto;
    overflow: hidden;
    display: inline-table;
  }
  #section-copy {
    order: 3;
    width: 30%;
  }
  #section-form {
    order: 4;
    background-color: black;
    flex-grow: 1;
  }
}

/* **** COMMON *****/
.main-container {
  /* margin: 8vh auto; */
  padding: 2em;
  box-sizing: border-box;
  display: flex;
  background-color: aliceblue;
  border-radius: 15px 0px 15px 0px;
}

#section-header {
  box-sizing: border-box;
  background-color: black;
  
  padding: 2em;
  align-self: start;
}

header > h1 {
  color: aliceblue;
}

header > h2 {
  margin-top: 0.5em;
  color: rgb(81, 81, 82);
  font-family: "Times New Roman", Times, serif;
  font-size: xx-large;
  font-weight: 200;
  font-style: italic;
}

header > h4 {
  margin-top: 1em;
  color: aliceblue;
}

#section-form {
  background-color: white;
  padding: 1em;
  border-radius: 0px 0px 15px 0px;
}

#section-form > h6 {
  color: rgb(158, 158, 253);
}

#section-image {
  overflow: hidden;
  background-image: url("img/picasso-blonde.png");
  /* height: 70vmax; */
  border-radius: 0px 0px 0px 0px;
}

#section-copy {
  margin: 1em;
}
